@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Clock';
  src: url('./clock.ttf') format('truetype');
}

body {
  margin: 0;
}
html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
    font-family: "Urbanist", sans-serif; 
}

.r3f
{
  touch-action: none;
  transition-duration: 0.5s;
}

.loader {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  width: 50%;
  z-index: 6;
}
@keyframes rotate {
  0% {
    transform: rotateX(-37.5deg) rotateY(45deg);
 }
  50% {
    transform: rotateX(-37.5deg) rotateY(405deg);
 }
  100% {
    transform: rotateX(-37.5deg) rotateY(405deg);
 }
}
.cube, .cube * {
  position: absolute;
  width: 151px;
  height: 151px;
}
.sides {
  animation: rotate 3s ease infinite;
  animation-delay: 0.8s;
  transform-style: preserve-3d;
  transform: rotateX(-37.5deg) rotateY(45deg);
}
.cube .sides * {
  box-sizing: border-box;
  background-color: rgba(242, 119, 119, 0.5);
  border: 3px solid white;
  border-radius: 6px;
}
.cube .sides .top {
  animation: top-animation 3s ease infinite;
  animation-delay: 0ms;
  transform: rotateX(90deg) translateZ(120px);
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@keyframes top-animation {
  0% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(120px);
 }
  20% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(75px);
 }
  70% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(75px);
 }
  90% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(120px);
 }
  100% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(120px);
 }
}
.cube .sides .bottom {
  animation: bottom-animation 3s ease infinite;
  animation-delay: 0ms;
  transform: rotateX(-90deg) translateZ(120px);
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@keyframes bottom-animation {
  0% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(120px);
 }
  20% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(75px);
 }
  70% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(75px);
 }
  90% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(120px);
 }
  100% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(120px);
 }
}
.cube .sides .front {
  animation: front-animation 3s ease infinite;
  animation-delay: 100ms;
  transform: rotateY(0deg) translateZ(120px);
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@keyframes front-animation {
  0% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(120px);
 }
  20% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(75px);
 }
  70% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(75px);
 }
  90% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(120px);
 }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(120px);
 }
}
.cube .sides .back {
  animation: back-animation 3s ease infinite;
  animation-delay: 100ms;
  transform: rotateY(-180deg) translateZ(120px);
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@keyframes back-animation {
  0% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(120px);
 }
  20% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(75px);
 }
  70% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(75px);
 }
  90% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(120px);
 }
  100% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(120px);
 }
}
.cube .sides .left {
  animation: left-animation 3s ease infinite;
  animation-delay: 100ms;
  transform: rotateY(-90deg) translateZ(120px);
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@keyframes left-animation {
  0% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(120px);
 }
  20% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(75px);
 }
  70% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(75px);
 }
  90% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(120px);
 }
  100% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(120px);
 }
}
.cube .sides .right {
  animation: right-animation 3s ease infinite;
  animation-delay: 100ms;
  transform: rotateY(90deg) translateZ(120px);
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@keyframes right-animation {
  0% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(120px);
 }
  20% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(75px);
 }
  70% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(75px);
 }
  90% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(120px);
 }
  100% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(120px);
 }
}

.htmlScreen {
  z-index: 3 !important;
}

.tip {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3vw;
  color: white;
}

.tip-overlay {
  position: fixed;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.766);
  transition-duration: 0.5s;
}

.tip-overlay:hover {
  cursor: grab;
}

.tip-gif {
  width: 10vw;
  height: 10vw;
  background: url('./loading_transparent.gif') no-repeat;
  background-size: contain;
  background-position: center;
}

.tip-overlay p {
  font-size: 1.5vw;
  color: white;
  text-align: center;
}

.btn{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 10vw;
  font-family: "Bangers", system-ui;
  cursor: pointer;
  background: rgba(0,0,0,0.09);
  transition: 0.3s all;
}
span{
  display: block;
  padding: 25px 80px;
}
.btn::before, .btn::after{
  content:"";
  width: 0;
  height: 5px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
  transition-delay: 0.2s;
}

span::before, span::after{
  content:"";
  width: 5px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
  transition-delay: 0s;
}
.btn:hover::before, .btn:hover::after{
  width: 100%;
  transition-delay: 0s;
}
.btn:hover span::before, .btn:hover span::after{
  height: 100%;
  transition-delay: 0.2s;
}

.btn::before{
  right: 0;
  top: 0;
}
.btn::after{
  left: 0;
  bottom: 0;
}
.btn span::before{
  left: 0;
  top: 0;
}
.btn span::after{
  right: 0;
  bottom: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: black;
  transition: 1s opacity;
  opacity: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  transform: scale(2);
  pointer-events: none;
}

.outer-circ{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid black;
  background: transparent;
  position: fixed;
  bottom: 25px;
  left: 25px;
  z-index: 5;
  display: grid;
  place-items: center;
  animation: scaleUp 1s;
  transition-duration: 0.3s;
}

.outer-circ:hover {
  cursor: pointer;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }

}

.svg {
  width: 23px;
  height: 35px;
  z-index: 5;
  transition-duration: 0.3s;
}

.wave-path {
  stroke-width: 15px;
  stroke: black;
}

.notPlaying {
  width: 23px;
  display: none;
}

.notPlaying path {
  stroke-width: 1.5px;
}

.label {
  width: 95px;
  font-size: 1vw;
  font-family: "Urbanist", sans-serif;
  text-align: center;
  background-color: #00000077;
  padding: 0.5vw;
  color: white;
  border-radius: 120px;
  user-select: none;
  transform: scale(0);
  transition-duration: 500ms;
}

.label.active {
  transform: scale(1);
}

.label:hover {
  cursor: pointer;
}

.resumeLabel {
  width: 150px;
  font-size: 20px;
  padding: 12px;
}

.time {
  background: rgb(189, 203, 200);
  padding: 0;
}

.current-fav {
  background-color: white;
  padding: 1vw;
  position: absolute;
  z-index: 6;
  top: -5%;
  right: -4%;
  border-radius: 8px;
  box-shadow: 0 0 8px 0px black;
}

.spotify {
  width: 40vw;
  height: 352px;
  background-color: black;
  border: none;
  border-radius: 20px;
  position: fixed;
  z-index: 4;
  top: 50%;
  left: 48.5%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
  opacity: 0;
  display: none;
}